/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* VARIABLES */
:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "Poppins", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: #6a96ab;
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}


/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/* Custom styles for the dropdown menu */
.navbar-nav .dropdown-menu {
    box-shadow: var(--box-shadow);
    border-radius: 0;
    border: none;
    padding: 0.5rem 0;
}

/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: #033C57;
    border-color: #033C57;
    color: white;
}

.btn-brand:hover {
    background-color: #6a96ab;
    border-color: #6a96ab;
    color: white;
}


/* HERO */
#hero {
    background: url(../images/banner.png);
    background-position: center;
    background-size: cover;
}


/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: #033C57;
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/* ICONBOX */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #c5dae350;
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

.fa-solid {
    color: #033C57;
}

/* SERVICE */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: #033c5730;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}


.service:hover::after {
    width: 100%;
    height: 100%;
    background: #033c57b0;
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

.service:hover .fa-solid {
    color: white;
}

/* REVIEW */
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: #033C57;
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}

.btn-primary {
    border-color: #033C57;
    background-color: #033C57;
}

.btn-primary:hover {
    background-color: #6a96ab;
    border-color: #6a96ab;
}
/* TEAM */

.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

.accordion-button:not(.collapsed) {
    color: #033C57;
    background-color: white;
}

/* FOOTER */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: #033C57;
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #9bb1bb;
    color: white;
}

/* Main section */
.flex {
    display: flex;
    align-items: center;
  }
  
#main {
    background: #CADEE3;
    text-align: center;
    color: #fff;
    flex-direction: column;
    padding-bottom: 5rem;
  }
  #main > h2 {
    width: 89%;
    margin-top: 20px;
  }
  #main > P {
    width: 89%;
    font-size: 13px;
    margin-top: 15px;
    color: var(--color-text);
  }

  #container-resi {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 40% 1fr;
    border-radius: 12px;
    overflow: hidden;
    width: 95%;
    color: var(--color-text);
  }
  .form-container {
    background-color: #f6f6f6;
    padding: 50px 35px;
    position: relative;
  }
  .form-container .act {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .form-container form {
    margin-top: 3rem;
  }
  .form-container form ul > li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    margin: 30px 0;
  }
  .form-container form ul li > * {
    width: 100%;
    text-align: left;
    font-size: 17px;
  }
  .form-container form ul li label {
    font-weight: 500;
    color: #000000;
  }

  .form-container form ul li > :where(select, input) {
    padding: 10px;
  }

  button.track {
    margin-top: 2px !important;
    color: #fff;
    background-color: #033C57;
    width: 80%;
  }

  button.track:hover {
    color: #fff;
    background-color: #6a96ab;
  }

  button.track:disabled,
  button.track[disabled] {
    background-color: rgba(0, 0, 0, 10%);
    color: rgba(0, 0, 0, 30%);
    cursor: no-drop;
    border: none;
  }
  
  h3.title-section {
    text-align: left;
    font-weight: 400;
  }
  h3.title-section span {
    color: #033C57;
    font-weight: 600;
  }
  #main .detail-container {
    padding: 30px;
    text-align: left;
    background-color: #fff;
  }
  .detail-container .body-card {
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 40px);
    border-radius: 10px;
    border: 3px dashed #f6f6f6;
    justify-content: center;
  }
  .detail-container .body-card > div img {
    width: 100%;
  }
  .detail-container .body-card > .info-card {
    flex-direction: column;
    row-gap: 10px;
    font-size: 10px;
    width: 15rem;
    color: rgb(126, 126, 126);
  }
  
  #summary {
    margin: 10px;
  }
  #summary table > * {
    vertical-align: text-top;
  }
  #summary table {
    width: 100%;
  }
  #summary table td:first-child {
    min-width: 4rem;
  }
  #summary table td:nth-child(2) {
    padding: 0 5px;
  }
  
  #container-fill {
    border-radius: 12px;
    overflow: hidden;
    width: 95%;
    color: var(--color-text);
    background-color: #fff;
    margin: 15px 0 0;
    padding: 1.5rem;
  }
  .progress-section {
    margin: 3rem 0;
  }
  .progress-section div:first-child {
    width: 19%;
    min-width: 9rem;
  }
  
  .progress-section > .radio {
    margin: 0 20px;
    position: relative;
  }
  .progress-section > .radio::before,
  .progress-section > .radio::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .progress-section > .radio::after {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: var(--color-orange);
  }
  .progress-section > .radio::before {
    height: 9rem;
    border-left: 2px solid #e9e9e9;
  }
  .progress-section:first-child > .radio::after {
    background-color: var(--color-red);
  }
  .progress-section:last-child > .radio::after {
    background-color: rgb(18, 212, 99);
  }
  .progress-section:first-child > .radio::before {
    height: 5.5rem;
    transform: translate(-50%, 0);
  }
  .progress-section:last-child > .radio::before {
    height: 5.5rem;
    transform: translate(-50%, -100%);
  }
  
  @media (max-width: 702px) {
    #container-resi {
      grid-template-columns: 1fr;
    }
    button.track {
      margin-top: 0 !important;
    }
    .flex.info-card {
      margin: 20px 0;
    }
  }