@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --color-red: #f5365c;
  --color-yellow: #ffd600;
  --color-orange: #f7941d;
  --color-text: #0c0c0c;
  --color-dark: #202428;
  --fo-dark: #2b3137;
}
a {
  color: #000000;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #000000;
  max-width: 1268px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}
section {
  padding: 20px 40px 10px;
}
.flex {
  display: flex;
  align-items: center;
}

h3.title-section {
  position: relative;
  left: 8px;
}
h3.title-section::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 25px;
  left: -6px;
  background-color: #033C57;
}

/* mobile menu Section*/
.mobile-menu {
  display: none;
  position: relative;
  padding: 7px 0;
}
.mobile-menu span {
  display: block;
}
.mobile-menu::after,
.mobile-menu::before,
.mobile-menu span {
  width: 25px;
  height: 3px;
  background-color: #000000;
  transition: all 0.5s;
}
.mobile-menu::after,
.mobile-menu::before {
  content: "";
  position: absolute;
}
.mobile-menu::after {
  top: 0;
  right: 0;
}
.mobile-menu::before {
  bottom: 0;
  left: 0;
}
.mobile-menu:hover::after,
.mobile-menu:hover::before {
  width: 12.5px;
  transition: all 0, 5s;
}
.mobile-menu.active span {
  transform: rotate(45deg);
}
.mobile-menu.active span::after {
  content: "";
  position: absolute;
  transition: all 0.5s;
  height: 3px;
  width: 25px;
  background-color: #000000;
  transform: rotate(90deg);
}
.mobile-menu.active::after,
.mobile-menu.active::before {
  width: 0;
  opacity: 0;
  transition: opacity 1s;
}

/* Footer Section */
.main-footer .footer-top {
  overflow: hidden;
  padding: 40px 0 7rem;
  background-color: var(--fo-dark);
  color: #fff;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
}
.main-footer .footer-top .content {
  column-gap: 60px;
  align-items: flex-start;
}
.main-footer .footer-top .footer-logo p {
  line-height: 19px;
  margin-top: 10px;
}
.main-footer .footer-top .footer-logo p a {
  color: var(--color-yellow);
}
.main-footer .footer-top .div-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  column-gap: 10px;
}
.main-footer .footer-top .div-icon a {
  background-color: #f5f5f5;
  color: var(--color-dark);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: grid;
  font-size: 0.7rem;
  place-items: center;
}

.footer-cc {
  padding: 10px 0;
  background-color: var(--color-dark);
  color: #fff;
  text-align: center;
}
.footer-cc p a {
  color: var(--color-red);
}

/* Responsive Code Section */
@media (max-width: 963px) {
  .main-footer .footer-top {
    flex-direction: column-reverse;
    position: relative;
  }
  .main-footer .footer-top .content {
    column-gap: 0;
    justify-content: space-between;
    width: 95%;
    margin: 0 20px;
  }
  .main-footer .footer-top .footer-logo {
    margin: 0 0 20px 20px;
  }
}
@media (max-width: 601px) {
  .mobile-menu {
    display: block;
  }
  .navbar ul {
    position: absolute;
    left: 0;
    top: 50px;
    overflow: hidden;
    width: 100%;
    height: 0;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fafafa;
    padding: 0 20px;
  }
  .navbar .list-menu.active {
    padding: 40px 20px;
    height: fit-content;
    box-shadow: 0 14px 16px -16px rgba(0, 0, 0, 30%);
  }
  .navbar .list-menu li,
  .dropdown-content {
    width: 100%;
  }
  .navbar .list-menu .flex {
    justify-content: center;
  }

  /* Footer */
  .main-footer .footer-top .content {
    column-gap: 60px;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .main-footer .footer-top .content > div {
    padding: 7px 20px;
    width: 100%;
  }
  .main-footer .footer-top .content > div h2 {
    position: relative;
  }
  .main-footer .footer-top .content > div h2::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    background-color: #fff;
  }
  .main-footer .footer-top .content > div ul {
    height: 0;
    overflow: hidden;
  }
  .main-footer .footer-top .content > div.active ul {
    height: fit-content;
  }
}

.display-false {
    display: none;
  }
  
  /* Main section */
  #main {
    background: #CADEE3;
    text-align: center;
    color: #fff;
    flex-direction: column;
    padding-bottom: 5rem;
  }
  #main > h2 {
    width: 89%;
    margin-top: 20px;
  }
  #main > P {
    width: 89%;
    font-size: 13px;
    margin-top: 15px;
    color: var(--color-text);
  }

  #container-resi {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 40% 1fr;
    border-radius: 12px;
    overflow: hidden;
    width: 95%;
    color: var(--color-text);
  }
  .form-container {
    background-color: #f6f6f6;
    padding: 50px 35px;
    position: relative;
  }
  .form-container .act {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .form-container form {
    margin-top: 3rem;
  }
  .form-container form ul > li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    margin: 30px 0;
  }
  .form-container form ul li > * {
    width: 100%;
    text-align: left;
    font-size: 17px;
  }
  .form-container form ul li label {
    font-weight: 500;
  }
  .form-container form ul li > :where(select, input) {
    padding: 10px;
  }
  button.track {
    margin-top: 2px !important;
    color: #fff;
    background-color: #033C57;
    width: 80%;
  }
  button.track:disabled,
  button.track[disabled] {
    background-color: rgba(0, 0, 0, 10%);
    color: rgba(0, 0, 0, 30%);
    cursor: no-drop;
    border: none;
  }
  
  h3.title-section {
    text-align: left;
    font-weight: 400;
  }
  h3.title-section span {
    color: #033C57;
    font-weight: 600;
  }
  #main .detail-container {
    padding: 30px;
    text-align: left;
    background-color: #fff;
  }
  .detail-container .body-card {
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 40px);
    border-radius: 10px;
    border: 3px dashed #f6f6f6;
    justify-content: center;
  }
  .detail-container .body-card > div img {
    width: 100%;
  }
  .detail-container .body-card > .info-card {
    flex-direction: column;
    row-gap: 10px;
    font-size: 10px;
    width: 15rem;
    color: rgb(126, 126, 126);
  }
  
  #summary {
    margin: 10px;
  }
  #summary table > * {
    vertical-align: text-top;
  }
  #summary table {
    width: 100%;
  }
  #summary table td:first-child {
    min-width: 4rem;
  }
  #summary table td:nth-child(2) {
    padding: 0 5px;
  }
  
  #container-fill {
    border-radius: 12px;
    overflow: hidden;
    width: 95%;
    color: var(--color-text);
    background-color: #fff;
    margin: 15px 0 0;
    padding: 1.5rem;
  }
  .progress-section {
    margin: 3rem 0;
  }
  .progress-section div:first-child {
    width: 19%;
    min-width: 9rem;
  }
  
  .progress-section > .radio {
    margin: 0 20px;
    position: relative;
  }
  .progress-section > .radio::before,
  .progress-section > .radio::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .progress-section > .radio::after {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: var(--color-orange);
  }
  .progress-section > .radio::before {
    height: 9rem;
    border-left: 2px solid #e9e9e9;
  }
  .progress-section:first-child > .radio::after {
    background-color: var(--color-red);
  }
  .progress-section:last-child > .radio::after {
    background-color: rgb(18, 212, 99);
  }
  .progress-section:first-child > .radio::before {
    height: 5.5rem;
    transform: translate(-50%, 0);
  }
  .progress-section:last-child > .radio::before {
    height: 5.5rem;
    transform: translate(-50%, -100%);
  }
  
  @media (max-width: 702px) {
    #container-resi {
      grid-template-columns: 1fr;
    }
    button.track {
      margin-top: 0 !important;
    }
    .flex.info-card {
      margin: 20px 0;
    }
  }

  .fa-solid {
    color: #c4c5c6;
  }

  .fa-solid:hover {
    color: #ffffff;
  }
  